* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*font-family: */
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#2b1055,#7597de);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header ul li {
    list-style: none;
    margin-left: 20px;

}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

header ul li a:hover {
    background: #fff;
    color: #2b1055
}

header ul li a:active {
    background: #fff;
    color: #2b1055
} /*need to fix*/

p a {
    text-decoration: underline;
    color: #fff;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section img#moon {
    mix-blend-mode: screen;
}

.sec {
    position: relative;
    padding: 100px;
    background: #1c0521;
}


.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    padding-bottom: 30px;
    color: #fff;
}

.sec p {
    font-size: 1.2em;
    color: #fff;
}

.item {
    padding: 10px;
}

a {
    text-decoration: none;
}

.btn {
    display: block;
    border: 0;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
}

.btn:hover,
.btn:focus {
    background: #905cd3;
    text-decoration-color: #fff;
    
}


/* about page - start */

.about-me-page-title {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
    margin-top: auto;
}

.about-me {
    margin-top: 30px; 
}

/* image carousel - start */

.slidershow {
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.middle {
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.search {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar2 {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar2:hover {
    background: #fff;
}

input [name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -20%;
}

#r3:checked ~ .s1 {
    margin-left: -40%;
}

/* image carousel - end */

/* about page - end */

/*skills page - start */

.sec {
    display: grid;
    height: 100%;
    place-items: center;
}

.skills {
    width: 1000px;
    background: thistle;
    border-radius: 10px;
    padding: 30px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
}

.skills .bar {
    margin: 20px 0;
}

.skills .bar:first-child {
    margin-top: 0px;
}

.skills .bar .info {
    margin-bottom: 5px;
}

.skills .bar .info span {
    font-size: 17px;
    font-weight: 500;
}

.skills .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                      0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: #6665ee;
    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}

.progress-line.html span {
    width: 80%;
}

.progress-line.css span {
    width: 70%;
}

.progress-line.javascript span {
    width: 40%;
}

.progress-line.python span {
    width: 50%;
}

.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -30px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    background: #000;
    padding: 1px 8px;
}

.progress-line.html span::after {
    content: "80%";
}

.progress-line.css span::after {
    content: "70%";
}

.progress-line.javascript span::after {
    content: "40%";
}

.progress-line.python span::after {
    content: "50%";
}


                                    /*skills page - end */

                                /* Contacts page - start */

form {
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 16px;
    background-color: thistle;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
                                   
    @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    }
}

.section-contact {
    min-height: 100vh;
    width: 1200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
                                   
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;

    @media (min-width: 768px) {
    padding-left: 64px;
    padding-right: 64px;
    }
                                   
    @media (min-width: 1024px) {
    padding-letf: 128px;
    padding-right: 128px;
    }
}
                                   
.form-header {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 16px;
}
                                   
.form-paragraph {
    color:turquoise;
    font-size: 25px;
    line-height: 1;
    margin-bottom: 20px;
}
                                   


                                        /* Contacts page - end */